@import '~antd/dist/antd.css';

.LayoutProps{
  padding: 24px;
  min-height: 600px;
  background-color: #ffffff;
  width: 100%;
  display: block;
}

.MapContent{
  height: 80vh;
  width: 70%;
  float: left;
}

.PlacesOuterContent{
  background-color: #ff1100;
  height: 80vh;
  width: 30%;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden; 
  border-color: #ff1100;
  border-style: solid;  
}

#ScrollBarStyle::-webkit-scrollbar {
  width: 12px;
}

#ScrollBarStyle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

#ScrollBarStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFD600;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.PlacesContent{
  width: 100%;  
  margin: 0 0 5px 0;
}

.PlacesInnerCell{
  background-color:#FFD600 ;
  font-size: 20px;  
  font-weight: 900;
  font-family:-apple-system;
  width: 100%;
}

/* .CntPlaceNameAndDate{
  padding: 0 5px;
} */

.CntPlaceName{
  margin: 0 5px;
  /* float: left; */
}

.CntPlaceDate{
  float: right;
  padding: 0 5px;
  font-size: 10px;
}

.CntFrame{
width: 100%;
display: table-row;
}

.CntInfos{
  font-size: 15px;
}

div.header{
  color:#36454f;
  background-color: #FFD600;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  font-family:-apple-system;
}

div.placesNames{
  font-size: 20px;
  background-color:#FFD600 ;
}

.ant-divider-horizontal{
margin : 0;
}

tbody.placesNames{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  display: block;
}

.gm-style img{
  max-width : 30px;
}

div.FormSpace{
  padding-top: 70px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  font-family:-apple-system;
  background-color: #ffffff
}

div.form-input{
  width: 500px;
  margin: 0 25% ; 
}

.ant-form{
padding: 0 25%;
}
.ant-layout-header{
  background: #ff1100;
}

.Container{ 
  padding: 0 50px; 
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
